In [ ]:
Data Encoding & Labeling

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir("C:\\Users\\Lenovo\\Documents\\Scanned Documents")

In [3]:
pd.read_csv("Inventory Purchases.csv")

,Customer Name,Product ID,Product Name,Opening \nStock,Purchase \nStock in,Number of \nUnits Sold,Hand-In- \nStock,Cost Price \nPer Unit,Cost Price\nTotal
0,John Smith,P101,Laptop,50,20,10,60,1200,72000
1,Michael Johnson,P102,Monitor,40,15,5,50,500,25000
2,Emily Brown,P103,Keyboard,60,25,15,70,50,3500
3,David Wilson,P104,Headphones,30,10,3,37,100,3700
4,Lisa Taylor,P105,Smartphone,70,30,20,80,900,72000
5,Sarah Anderson,P106,Tablet,45,18,8,55,700,38500
6,Matthew Wilson,P107,Router,40,22,12,65,150,9750
7,Jennifer Davis,P108,CPU,25,12,5,32,200,6400
8,Jessica Martinez,P109,Wireless Earbuds,35,15,7,43,80,3440
9,Kethciya Pearl,P110,Webcam,40,20,10,50,60,3000

In [10]:
df = pd.read_csv("Inventory Purchases.csv")

In [11]:
print(df)

       Customer Name Product ID      Product Name  Opening     \nStock  \
0         John Smith       P101            Laptop                   50
1    Michael Johnson       P102           Monitor                   40
2        Emily Brown       P103          Keyboard                   60
3       David Wilson       P104        Headphones                   30
4        Lisa Taylor       P105        Smartphone                   70
5     Sarah Anderson       P106            Tablet                   45
6     Matthew Wilson       P107            Router                   40
7     Jennifer Davis       P108               CPU                   25
8   Jessica Martinez       P109  Wireless Earbuds                   35
9     Kethciya Pearl       P110            Webcam                   40

   Purchase               \nStock in  Number of \nUnits Sold  \
0                                 20                      10
1                                 15                       5
2                                 25                      15
3                                 10                       3
4                                 30                      20
5                                 18                       8
6                                 22                      12
7                                 12                       5
8                                 15                       7
9                                 20                      10

   Hand-In-                                                                   \nStock  \
0                                                 60
1                                                 50
2                                                 70
3                                                 37
4                                                 80
5                                                 55
6                                                 65
7                                                 32
8                                                 43
9                                                 50

   Cost Price \nPer Unit   Cost Price\nTotal
0                    1200               72000
1                     500               25000
2                      50                3500
3                     100                3700
4                     900               72000
5                     700               38500
6                     150                9750
7                     200                6400
8                      80                3440
9                      60                3000